@font-face {
  font-family: "IRANSans";
  src: url("../../../../public/fonts-file/IRANSans/eot/IRANSansWeb(FaNum).eot"); 
       /* IE9 Compat Modes */
  src: url("../../../../public/fonts-file/IRANSans/eot/IRANSansWeb(FaNum).eot?#iefix") format("embedded-opentype"), 
       /* IE6-IE8 */ 
       url("../../../../public/fonts-file/IRANSans/woff2/IRANSansWeb(FaNum).woff2") format("woff2"),
       /* Super Modern Browsers */ 
       url("../../../../public/fonts-file/IRANSans/woff/IRANSansWeb(FaNum).woff") format("woff"),
       /* Pretty Modern Browsers */ 
       url("../../../../public/fonts-file/IRANSans/ttf/IRANSansWeb(FaNum).ttf") format("truetype"),
       /* Safari, Android, iOS */ 
}
